@model IEnumerable<MVCMusicStoreApplication.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<br>
<h2>
    Here are the list of Albums for that Genre...

</h2>
<ul class="list">

    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.Title, "Details", new { id = item.AlbumId })
        </li>
    }

</ul>
<br>
@Html.ActionLink("Back to Browse", "Browse", new { })